<!-- HEADER CONTENT-->
<div>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="page-header text-center">
				<h1>Soccer Teams Data!</h1>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
	<div class="row">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse">
					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-md-6">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#uncode-server/home"
									ng-click="goHome()">Home</a></li>
								<li ng-if="authenticated"><a href="#uncode-server/profile" ng-click="goProfile()">Your
										Profile</a></li>
								<li ng-if="!$root.authenticated"><a href="#uncode-server/home" ng-click="showModal()">Login</a></li>
								<li ng-if="$root.authenticated"><a href="#uncode-server/home" ng-click="logout()">Logout</a></li>
							</ul>
						</div>
						<div class="col-md-3"></div>
					</div>
				</div>

			</div>
		</nav>
	</div>

</div>
<!-- END HEADER -->