
<div class="row">
	<div class="col-md-3">
		<div class="thumbnail">
			<div class="caption">
				<h3>Login Area</h3>
				<a ng-if="!$root.authenticated" class="btn btn-primary"
					ng-click="showModal()">Login</a> <a ng-if="$root.authenticated"
					class="btn btn-default" ng-click="logout()">Logout</a>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search Teams"
					ng-model="teamName" />
			</div>
			<button type="submit" class="btn btn-default" ng-click="searchTeam()">Submit</button>
		</form>
		<div class="thumbnail">
			<table class="table table-hover">
				<tr>
					<td>ID</td>
					<td>NAME</td>
				</tr>
				<tr ng-repeat="team in teams">
					<td>{{ team.id }}</td>
					<td>{{ team.name }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-md-3">
		<div class="thumbnail">
			<div class="caption">
				<h3>Thumbnail label</h3>
				<p>...</p>
				<p>
					<a href="#" class="btn btn-primary" role="button">Button</a> <a
						href="#" class="btn btn-default" role="button">Button</a>
				</p>
			</div>
		</div>
	</div>
</div>
